RewriteEngine On

RewriteRule ^home/?$ index.html [L]
RewriteRule ^about_us/?$ about_us.html[L]
RewriteRule ^services/?$ services.html [L]
RewriteRule ^departments/?$ departments.html [L]
RewriteRule ^contact/?$ contact.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]